.btn-flat {
  color: white !important;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  width: 150px;
  text-align: center;
  border: solid #fff 2px;
}

.btn-flat:hover {
  background: #1BCB7F;
  border-color: #1BCB7F;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 24px;
}

.btn-flat-trek {
  color: white !important;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  width: 150px;
  text-align: center;
  border: solid #fff 2px;
  margin-right: 15px;
  margin-left: 15px;
}

.btn-flat-trek:hover {
  background: #1BCB7F;
  border-color: #1BCB7F;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
