.freelance-card {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  background: $brand-color;
  color: #fff;
  padding: 25px;
  border-radius: 25px 25px;
  box-shadow: 5px 5px 5px rgba(30, 221, 136, 0.8);
  width: 500px;
}

.freelance-img {
  width: 290px;
  border: 2px solid #fff;
  border-radius: 10px 10px;
  margin-bottom: 20px;
}
