.navbar-lewagon {
 background: linear-gradient(90deg,
   $brand-color,
   #8C93A6);
  padding: 18px;
  width: 100%;
}

// .sticky-top{
//   overflow: visible;
//   z-index: 100;
//   position: fixed;
//   top: 0;
// }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  justify-content: space-between;
  width: 100%;
}

.navbar-lewagon .navbar-brand img {
  width: 220px;
}

.img{
  display: flex;
  justify-content: space-between;

}

.nav-link {
  color: #fff !important;
}

.navbar-toggler{
  background-color: #1EDD88 !important;
  border: solid 2px #fff !important;
  }

  .nav-item .nav-link:hover{
    color: #1EDD88 !important;
  }




  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
